<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.performance_analsis_springboot.dao.UccDao">
    <select id="getType" resultType="com.example.performance_analsis_springboot.model.UccType">
        SELECT course, count(*) as number FROM emr_ucc where date>=#{startTime}
        and date&lt;=#{endTime} and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
        GROUP BY course
    </select>
    <select id="getMarried" resultType="com.example.performance_analsis_springboot.model.UccMarried">
        SELECT isMarried, count(*) as number FROM emr_ucc where date>=#{startTime}
        and date&lt;=#{endTime} and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
        GROUP BY isMarried
    </select>
    <select id="getProfession" resultType="com.example.performance_analsis_springboot.model.UccProfession">
        SELECT profession, count(*) as number FROM emr_ucc where date>=#{startTime}
        and date&lt;=#{endTime} and  street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
         GROUP BY profession
    </select>
    <select id="getMan" resultType="com.example.performance_analsis_springboot.model.UccMan">
        SELECT  COUNT(*) number
        FROM emr_ucc WHERE age>=0 and age &lt;=4 AND gender='男' and date>=#{startTime}
        and date&lt;=#{endTime}  and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
        UNION ALL
        SELECT  COUNT(*) number
        FROM emr_ucc WHERE age>=5 and age &lt;=11 AND gender='男' and date>=#{startTime}
        and date&lt;=#{endTime}  and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
        UNION ALL
        SELECT  COUNT(*) number
        FROM emr_ucc WHERE age>=12 and age &lt;=18 AND gender='男' and date>=#{startTime}
        and date&lt;=#{endTime}  and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
        UNION ALL
        SELECT  COUNT(*) number
        FROM emr_ucc WHERE age>=19 and age &lt;=35 AND gender='男' and date>=#{startTime}
        and date&lt;=#{endTime}  and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
        UNION ALL
        SELECT  COUNT(*) number
        FROM emr_ucc WHERE age>=36 and age &lt;=59 AND gender='男' and date>=#{startTime}
        and date&lt;=#{endTime}  and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
        UNION ALL
        SELECT  COUNT(*) number
        FROM emr_ucc WHERE age>=60 AND gender='男' and date>=#{startTime}
        and date&lt;=#{endTime}  and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
    </select>
    <select id="getWoman" resultType="com.example.performance_analsis_springboot.model.UccMan">
        SELECT  COUNT(*) number
        FROM emr_ucc WHERE age>=0 and age &lt;=4 AND gender='女' and date>=#{startTime}
        and date&lt;=#{endTime} and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
        UNION ALL
        SELECT  COUNT(*) number
        FROM emr_ucc WHERE age>=5 and age &lt;=11 AND gender='女' and date>=#{startTime}
        and date&lt;=#{endTime}  and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
        UNION ALL
        SELECT  COUNT(*) number
        FROM emr_ucc WHERE age>=12 and age &lt;=18 AND gender='女' and date>=#{startTime}
        and date&lt;=#{endTime}  and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
        UNION ALL
        SELECT  COUNT(*) number
        FROM emr_ucc WHERE age>=19 and age &lt;=35 AND gender='女' and date>=#{startTime}
        and date&lt;=#{endTime}  and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
        UNION ALL
        SELECT  COUNT(*) number
        FROM emr_ucc WHERE age>=36 and age &lt;=59 AND gender='女' and date>=#{startTime}
        and date&lt;=#{endTime}  and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
        UNION ALL
        SELECT  COUNT(*) number
        FROM emr_ucc WHERE age>=60 AND gender='女' and date>=#{startTime}
        and date&lt;=#{endTime}  and street in
        <foreach collection="city" item="city" open="(" close=")" separator=",">
            #{city}
        </foreach>
    </select>
</mapper>